#База данных
physics.db

#Результаты компиляции LaTeX
output.tex
output.log
output.aux
output.out

#Результаты компиляции программы для презентации
*.txt
*.html

#Результаты компиляции промежуточных файлов
*.pdf

#Вспомогательные папки
/hidden

#ОС
.DS_Store
Thumbs.db