#База данных
physics.db

#Результаты компиляции LaTeX
output.pdf
output.tex
output.log
output.aux
output.out

#Результаты компиляции программы для презентации
*.txt
presentation.html

#Вспомогательные папки
/old_folders
/output_versions

#ОС
.DS_Store
Thumbs.db