# База данных
physics.db

# Результаты компиляции LaTeX
output.tex
output.log
output.aux
output.out

# Результаты компиляции программы для презентации
*variant*.txt
*.html

# Результаты компиляции промежуточных файлов
*.pdf

# Вспомогательные папки
/hidden
/__pycache__

# ОС
.DS_Store
Thumbs.db

# Настройки программы
config.yaml